/* Import des polices de caractère */
@font-face {
    font-family: 'raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 900;
    font-style: normal;
}

/* @font-face {
    font-family: 'rancho';
    src: url('fonts/Rancho-Regular.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
} */

/* Règles générales */
body {
    font-family: 'raleway', monospace;
    font-size: 18px;
    width: 100vw;
    margin: auto;
    background: url("images/logo/Reservia.svg") no-repeat top 1vh left 4vw;
    /* position: relative; */
}

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

/* Header */
header {
    /* min-width: 100vw; */
    height: 100vh;
    position: relative;
    /* ? */
    /* border: 1px solid black; */
}

/* Lien d'inscription en position absolu */
#signin {
    position: absolute;
    /* ? */
    top : -55px;
    right: 5vw;
}

/* Titre Reservia */
/* #titre_page {
    position: absolute;
    top: 0;
    left: 5vw;
} */
/* #main_title {
    font-family: 'rancho', sans-serif;
    font-weight: lighter;
    margin: 5vh 0 5vw 5vh;
    color: #0065FC;
} */

nav {
    /* border: green 1px solid; */
    margin-top: 60px;
}

#nav_links {
    width: auto;
    height: 40px;
    display: flex;
    /* ? */
    padding: 0;
    margin: 0;
    /* border: blue 1px solid; */
}

/* Enlevage des points de toutes les listes */
li {
    list-style-type: none;
}

#signin a {
    font-family: raleway;
    text-decoration: none;
    color: #0065FC;
    font-size: 0.9em;
    font-weight: 700;
}

#nav_links a {
    text-decoration: none;
    font-weight: normal;
    font-size: 0.9em;
}

#nav_links li {
    width: 100%;
    height: 100%;
    display: flex;
    /* border: brown 1px solid; */
}

#hbgmt_link {
    border-bottom: 2px solid #0065FC;
}

#actv_link {
    border-bottom: 2px solid #F2F2F2;
}

#hbgmt_link a{
    color: #0065FC;
    font-weight: 600;
    margin: auto;
}

#actv_link a {
    color: black;
    font-weight: 500;
    margin: auto;
}

#corps_header {
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
}

h2 {
    font-size: 1.15em;
    font-weight: 800;
}

#desc {
    /* border: 1px red solid; */
    /* max-width: 300px; */
}

#desc h2 {
    margin-bottom: 10px;
}

#desc p {
    font-size: 0.8em;
    margin-top: 10px;
}

/* Formulaire */
#form {
    width: fit-content;
    margin: auto;
    height: 5vh;
    display: flex;
    align-items: center;
    /* background-color: #F2F2F2; */
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    /* margin: auto; */
}
#map_mark{
    width: 5vh;
    min-width: 30px;
    height: 5vh;
    min-height: 30px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    display: flex;
}

#map_mark img {
    margin: auto;
}

#search_city {
    /* flex: 1; */
}

#search_city p{
    /* border: olive 2px solid; */
    height: 5vh;
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
}

#search_box {
    /* border: 2px blue solid; */
    padding: 0 0 0 10px;
    height: 5vh;
    /* width: 200px; */
    border: none;
    font-size: 0.8em;
    font-weight: 600;
}

#search_box:focus {
    outline: none;
}

#sub_btn {
    width: 5vh;
    min-width: 30px;
    height: 5vh;
    min-height: 30px;
    background: #0065FC;
    border: none;
    padding: 0;
    border-radius: 10px;
}

#sub_btn span {
    display: none;
}

.icon {
    width: 15px;
    height: 15px;
}

/* Filtres */
#filter_list {
    /* min-height: 160px; */
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    align-items: space-between;
    /* justify-content: space-evenly; */
    padding: 0;
    /* border: 2px red solid; */
}

.filter {
    /* border: 1px solid black; */
    margin-right: 20px;
    margin-bottom: 10px;
}

.filter a {
    /* border: 2px green solid; */
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid #9c9c9c;
    border-width: 1.5px 1.5px 1.5px 0;
    border-radius: 50px;
}
.img_conteneur {
    /* border: solid 1px black; */
    display: flex;
    justify-content: center;
    width: 5vh;
    min-width: 30px;
    height: 5vh;
    min-height: 30px;
    margin-right: 15px;
    background: #DEEBFF;
    border-radius: 50%;
}

.img_conteneur img {
    margin: auto;
}

.li_link {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.filter_desc {
    display: block;
    margin-right: 20px;
}

/* Catégorie populaires */
#pop {
    background-color: #F2F2F2;
}
/* Titre */
#pop_title {
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

#pop_title img {
    width: 20px;
    height: 20px;
}

/* Section populaire */
#pop_cards {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Cartes */
.card_link {
    display: block;
    width: 94%;
    height: 20vh;
    margin: auto;
    /* border: red solid 1px; */
}

.pop_card_ctn {
    /* ? */
    display: flex;
    position: relative;
    width: 100%;
    height: 20vh;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.200);
    /* border: greenyellow 2px solid; */
}

.pop_img {
    width: 50%;
    max-width: 50%;
    height: 90%;
    margin: auto;
    margin-left: 5px;
    background-color: white;
    border-radius: 20px 0 0 20px;
}

.pop_card_desc {
    position: absolute;
    top: 0;
    left: 40%;
    width: 60%;
    height: 100%;
    border-radius: 0 20px 20px 0;
    background-color: white;
    /* border: blue 2px solid; */
}