/* Import des polices de caractère */
@font-face {
    font-family: 'raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 900;
    font-style: normal;
}

@font-face {
    font-family: 'rancho';
    src: url('fonts/Rancho-Regular.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

/* Règles générales */
body {
    font-family: 'raleway', monospace;
    font-size: 18px;
    width: 100vw;
    margin: auto;
}

/* Header */
header {
    width: 100%;
    height: 100vh;
    position: relative;
}

/* Lien d'inscription en position absolu */
#signin {
    position: absolute;
    top : 0px;
    right: 20px;
}

/* Titre Reservia */
#main_title {
    font-family: 'rancho', sans-serif;
    font-weight: lighter;
    margin: 20px 0 10px 20px;
    color: #0065FC;
}

#nav_links {
    width: auto;
    height: 40px;
    display: flex;
    /* ? */
    padding: 0;
    margin: 0;
    /* border: blue 1px solid; */
}

#signin li, #nav_links li{
    list-style-type: none;
}

#signin a {
    font-family: raleway;
    text-decoration: none;
    color: #0065FC;
    font-size: 0.9em;
    font-weight: 700;
}

#nav_links a {
    text-decoration: none;
    font-weight: normal;
    font-size: 0.8em;
}

#nav_links li {
    width: 100%;
    height: 100%;
    display: flex;
    /* border: brown 1px solid; */
}

#hbgmt {
    border-bottom: 2px solid #0065FC;
}

#actv {
    border-bottom: 2px solid #F2F2F2;
}

#hbgmt a{
    color: #0065FC;
    font-weight: 600;
    margin: auto;
}

#actv a {
    color: black;
    font-weight: 500;
    margin: auto;
}

#corps_header {
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
}

h2 {
    font-size: 1.15em;
    font-weight: 700;
}

#desc {
    /* border: 1px red solid; */
    /* max-width: 300px; */
}

#desc h2 {
    margin-bottom: 10px;
}

#desc p {
    font-size: 0.8em;
    margin-top: 10px;
}

/* Formulaire */
#form {
    width: 80vw;
    height: 40px;
    display: flex;
    align-items: center;
    /* background-color: #F2F2F2; */
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    /* margin: auto; */
}
#map_mark{
    width: 40px;
    min-width: 40px;
    height: 40px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    display: flex;
}

#map_mark img {
    margin: auto;
}

#search_city {
    /* flex: 1; */
}

#search_city p{
    /* border: olive 2px solid; */
    height: 40px;
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
}

#search_box {
    /* border: 2px blue solid; */
    padding: 0 0 0 10px;
    height: 40px;
    /* width: 200px; */
    border: none;
    font-size: 0.8em;
    font-weight: 600;
}

#search_box:focus {
    outline: none;
}

#sub_btn {
    width: 40px;
    min-width: 40px;
    height: 40px;
    background: #0065FC;
    border: none;
    padding: 0;
    border-radius: 10px;
}

#sub_btn span {
    display: none;
}

.icon {
    width: 15px;
    height: 15px;
}

/* Filtres */

/* Catégorie populaires */
.card_link {
    display: block;
    width: 94%;
    height: 25vh;
    margin: auto;
}

#pop {
    background-color: #F2F2F2;
}

#pop_cards .card_link:nth-child(1) {
    border: solid black 1px;
    background: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg) no-repeat left;
    background-size: 50% 100%;
}

#pop_cards .card_link:nth-child(2) {
    border: solid black 1px;
    background: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg) no-repeat left;
    background-size: 50% 100%;
}

#pop_cards .card_link:nth-child(3) {
    border: solid black 1px;
    background: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg) no-repeat left;
    background-size: 50% 100%;
}

/* Categories hébergements */
#hbgmt_cards .card_link:nth-child(1) {
    border: solid black 1px;
    background: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}

#hbgmt_cards .card_link:nth-child(2) {
    border: solid black 1px;
    background: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}

#hbgmt_cards .card_link:nth-child(3) {
    border: solid black 1px;
    background: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}

#hbgmt_cards .card_link:nth-child(4) {
    border: solid black 1px;
    background: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}

#hbgmt_cards .card_link:nth-child(5) {
    border: solid black 1px;
    background: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}

#hbgmt_cards .card_link:nth-child(6) {
    border: solid black 1px;
    background: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}

/* Catégories activités */
#actv_cards .card_link:nth-child(1) {
    border: solid black 1px;
    background: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}

#actv_cards .card_link:nth-child(2) {
    border: solid black 1px;
    background: url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}

#actv_cards .card_link:nth-child(3) {
    border: solid black 1px;
    background: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
}

#actv_cards .card_link:nth-child(4) {
    border: solid black 1px;
    background: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}

#actv_cards .card_link:nth-child(5) {
    border: solid black 1px;
    background: url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}

#actv_cards .card_link:nth-child(6) {
    border: solid black 1px;
    background: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}
