/* Import des polices de caractère */
@font-face {
    font-family: 'raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 900;
    font-style: normal;
}

/* Règles générales */
body {
    font-family: 'raleway', monospace;
    font-size: 18px;
    /* width: 100vw; */
    /* width: 100%; */
    max-width: 100%;
    margin: auto;
    background: url("images/logo/Reservia.svg") no-repeat top 1vh left 4%;
}

/* Header */
header {
    height: fit-content;
    height: -moz-fit-content;
    position: relative;
}

/* Lien d'inscription en position absolu */
#signin {
    position: absolute;
    top : -55px;
    right: 5%;
}

header nav {
    /* border: green 1px solid; */
    margin-top: 60px;
}

#nav_links {
    width: auto;
    height: 40px;
    display: flex;
    padding: 0;
    margin: 0;
}

/* Enlevage des points de toutes les listes */
li {
    list-style-type: none;
}

#signin a {
    font-family: raleway;
    text-decoration: none;
    color: #0065FC;
    font-size: 0.9em;
    font-weight: 700;
}

#nav_links a {
    text-decoration: none;
    font-weight: normal;
    font-size: 0.9em;
}

#nav_links li {
    width: 100%;
    height: 100%;
    display: flex;
}

#hbgmt_link {
    border-bottom: 2px solid #0065FC;
}

#actv_link {
    border-bottom: 2px solid #F2F2F2;
}

#hbgmt_link a {
    color: #0065FC;
    font-weight: 600;
    margin: auto;
}

#actv_link a {
    color: black;
    font-weight: 500;
    margin: auto;
}

#corps_header {
    width: 90%;
    margin: auto;
}

h2 {
    font-size: 1.15em;
    font-weight: 800;
}

#desc h2 {
    margin-bottom: 10px;
}

#desc p {
    font-size: 0.8em;
    margin-top: 10px;
}

/* Formulaire */
#form {
    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
    height: 5vh;
    display: flex;
    align-items: center;
    /* background-color: #F2F2F2; */
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    /* margin: auto; */
}
#map_mark{
    width: 5vh;
    min-width: 30px;
    height: 5.2vh;
    min-height: 30px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    display: flex;
}

#map_mark img {
    margin: auto;
}

#search_city p{
    height: 5vh;
    display: flex;
    align-items: center;
}

#search_box {
    padding: 0 0 0 10px;
    height: 5vh;
    border: none;
    font-size: 0.8em;
    font-weight: 600;
}

#search_box:focus {
    outline: none;
}

#sub_btn {
    width: 5vh;
    min-width: 30px;
    height: 5.2vh;
    min-height: 30px;
    background: #0065FC;
    border: none;
    padding: 0;
    border-radius: 10px;
}

#sub_btn span {
    display: none;
}

.icon {
    width: 15px;
    height: 15px;
}

/* Filtres */
#filter_list {
    height: fit-content;
    height: -moz-fit-content;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
}

.filter {
    margin-right: 20px;
    margin-bottom: 10px;
}

.filter a {
    width: fit-content;
    width:-moz-fit-content;
    height: 4.6vh;
    min-height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid #9c9c9c;
    border-width: 1.5px 1.5px 1.5px 0;
    border-radius: 50px;
}

.filter a:hover {
    background: #DEEBFF border-box;
    height: 5vh;
    border: hidden;
}

.img_conteneur {
    display: flex;
    justify-content: center;
    width: 5vh;
    min-width: 30px;
    height: 5vh;
    min-height: 30px;
    margin-right: 10px;
    background: #DEEBFF;
    border-radius: 50%;
}

.img_conteneur img {
    margin: auto;
}

.li_link {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.filter_desc {
    display: block;
    margin: auto 20px auto 0;
}

#info {
    width: 10px;
    height: 10px;
    margin: auto;
}

#info_img_ctn {
    width: 15px;
    height: 15px;
    display: flex;
    border: #9c9c9c 1px solid;
    border-radius: 50%;
    /* align-self: center; */
}

#info_div {
    display: flex;
    margin-bottom: 50px;
    /* border: chartreuse 2px solid; */
}

#info_div p {
    width: fit-content;
    margin-top: 0;
    margin-left: 5px;
}

/* Catégorie populaires */
#pop {
    background-color: #F2F2F2;
}
/* Titre */
#pop_title {
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

#pop_title img {
    width: 20px;
    height: 20px;
}

/* Section populaire */
#pop_cards {
    height: 70vh;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

/* Cartes */
/* Populaires */
.pop_card_ctn_out {
    width: 85%;
    height: 20vh;
    min-height: 85px;
    box-shadow: rgb(199, 199, 199) 2px 2px 5px;
    background: white;
    border: white solid 5px;
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    /* border: red 2px solid; */
}

.pop_card_ctn_in {
    width: 100%;
    height: 20vh;
    min-height: 85px;
    margin: auto;
    display: flex;
    /* border: solid blue 2px; */
}

.pop_desc_ctn {
    width: 60%;
    height: 20vh;
    min-height: 85px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: green solid 2px; */
}

.pop_card_img {
    /* display: block; */
    width: 140px;
    height: auto;
    border-radius: 12px 0 0 12px;
    object-fit: cover;
}


.cards_title {
    font-size: 0.9em;
    /* border: orange 2px solid; */
    margin: 0;
}

.cards_desc {
    font-size: 0.8em;
    font-weight: 500;
    /* border: blueviolet 2px solid; */
    margin: 0;
}

.pop_desc_ctn h3 {
    margin-top: 10px;
}
.pop_desc_ctn h3, .pop_desc_ctn p, .stars {
    width: 90%;
    margin-left: 10px;
}

.stars {
    display: flex;
    align-items: flex-end;
    /* border: chartreuse 2px solid; */
}

.pop_stars_ctn {
    flex-grow: 1;
    margin-bottom: 10px;
}

/* Hébergements */
.section_title {
    width: 92%;
    margin: 30px auto 30px auto;
}

#afficher_plus {
    width: 92%;
    margin: 30px auto 60px auto;
}

.hbgmt_card_ctn_out {
    width: 90%;
    height: 25vh;
    height: fit-content;
    min-height: 130px;
    margin: auto;
    box-shadow: rgb(199, 199, 199) 2px 2px 15px;
    border-radius: 15px;
    border: white solid 4px;
    margin-bottom: 10px;
    /* border: red 2px solid; */
}

.hbgmt_card_ctn_in {
    width: 100%;
    height: 25vh;
    min-height: 130px;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* border: solid blue 2px; */
}

.hbgmt_desc_ctn {
    width: 100%;
    height: 9vh;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: green solid 2px; */
}

.hbgmt_desc_ctn h3, .hbgmt_desc_ctn p, .hbgmt_desc_ctn div {
    width: 90%;
    margin-left: 10px;
}

.hbgmt_card_img {
    /* display: block; */
    width: 100%;
    height: 16vh;
    min-height: 80px;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}

/* Activités */
#actv {
    margin-bottom: 60px;
}
.actv_card_ctn_out {
    width: 90%;
    height: 25vh;
    min-height: 130px;
    margin: auto;
    box-shadow: rgb(199, 199, 199) 2px 2px 5px;
    border-radius: 15px;
    margin-bottom: 20px;
    /* border: red 2px solid; */
}

.actv_card_ctn_in {
    width: 100%;
    height: 25vh;
    min-height: 130px;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* border: solid blue 2px; */
}

.actv_img_ctn {
    height: 100%;
}

 .actv_img_ctn figure {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* border: hotpink 2px solid; */
}

.actv_img_ctn figure figcaption {
    margin: auto;
    margin-left: 10px;
    font-family: 'raleway', serif;
    font-size: 0.8em;
    font-weight: 700;
}

.actv_card_img {
    /* display: block; */
    width: 100%;
    height: 18vh;
    min-height: 90px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

/* Footer */
footer {
    width: 100%;
    height: fit-content;
    height: -moz-fit-content;
    display: flex;
    background-color: #F2F2F2;
}

footer nav {
    margin: auto;
    margin-left: 30px;
    margin-top: 30px;
}

footer ul {
    padding: 0;
    margin-bottom: 50px;
}

footer li {
    margin-bottom: 10px;
}

.foot_links {
    font-size: 0.8em;
    font-weight: normal;
}

/* Media queries pour petits écrans */
@media screen and (max-height: 410px) {
    .actv_img_ctn figure figcaption {
        max-height: 30px;
    }

    .pop_desc_ctn {
        margin: 0;
    }
}

@media screen and (max-width: 280px) {
    #corps_header {
        width: 96%;
    }

    #search_box {
        width: 150px;
    }
}

@media screen and (max-width: 320px) {
    .icon {
        width: 12px;
        height: 12px;
    }

    .pop_card_img {
        width: 100px;
    }

    .cards_title {
        font-size: 0.8em;
    }

    .cards_desc {
        font-size: 0.7em;
    }
}

/* Media queries pour tablettes */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Header */
    .icon {
        width: 15px;
        height: 15px;
    } 

    #form {
        margin-top: 40px;
        /* margin-left: 10px;  */
    }

    /* Catégorie Populaire */
    #pop_cards {
        height: 400px;
        min-height: initial;
    }

    .pop_card_ctn_out {
        border-radius: 10px;
        height: 100px;
    }

    .pop_card_ctn_in {
        height: 100px;
    }

    .pop_desc_ctn {
        height: 100px;
        margin: 0;
        width: 400px;
    }

    .pop_card_img {
        border-radius: 7px 0 0 7px;
        /* width: 40%; */
        /* margin-left: -4px; */
    }

    .cards_title {
        font-size: 1em;
    }

    /* Hébergements */
    .hbgmt_card_ctn_out {
        height: 25vh;
    }

    .hbgmt_card_ctn_in {
        height: 25vh;
    }

    .hbgmt_card_img {
        height: 35vh;
        border-radius: 15px 15px 0 0;
    }

    .hbgmt_desc_ctn {
        height: 15vh;
    }

    /* Activités */
    .actv_card_ctn_out {
        height: 25vh;
    }

    .actv_card_ctn_in {
        height: 25vh;
    }

    .actv_img_ctn figure {
        height: 25vh;
    }

    .actv_card_img {
        height: vh;
    }

    /* footer */
    footer nav {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-around;
    }


}
/* Media queries pour pc */
@media screen and (min-width: 1024px) {
    /* Règles générales */
    body {
        width: 100%;
        background: url('images/logo/Reservia@3x.png') no-repeat left 50px top 20px / 100px;
    }
    /* Header */
    #signin {
        position: static;
        margin: 0;
        padding: 0;
        display: flex;
        width: 150px;
        /* border: green 1px solid; */
    }

    #signin li {
        margin: auto;
    }

    header nav {
        display: flex;
        flex-direction: row-reverse;
        height: 80px;
        margin: 0;
        /* border: red 2px solid; */
    }

    #nav_links {
        height: auto; 
        /* border: blueviolet 1px solid; */
    }

    #hbgmt_link, #actv_link {
        border: none;
        /* border: 1px solid green; */
    }

    #hbgmt_link a, #actv_link a {
        height: 100%;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 2px solid pink; */
        color: black;
        font-weight: 500;
    }

    #hbgmt_link a:hover, #actv_link a:hover {
        color: #0065FC;
        font-weight: 600;
        border-top: #0065FC 2px solid;
    }

    /* Changement du formulaire de recherche */
    #form {
        margin-left: 0;
    }

    #sub_btn {
        width: fit-content;
        width: -moz-fit-content;
        border-radius: 0 10px 10px 0;
    }

    #sub_btn img {
        display: none;
    }

    #sub_btn span {
        display: inline;
        color: white;
        font-weight: 600;
        margin: 0 10px 0 10px;
    }
    /* Main */
    main {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #pop {
        width: 30%;
        order: 2;
        border-radius: 15px;
    }

    #hbgmt {
        width: 65%;
        background-color: #F2F2F2;
        border-radius: 15px;
        /* border: 2px solid red; */
        order: 1;
    }

    #hbgmt_cards {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        /* border: lawngreen 2px solid; */
    }

    #actv {
        margin-bottom: 0;
        height: 450px;
        order: 3;
    }

    /* Descriptions */
    .cards_title {
        font-size: 0.8em;
    }
    /* Hébergements par ville */
    .hbgmt_card_ctn_out {
        width: 28%;
        height: 180px;
        margin-bottom: 25px;
        border-radius: 15px;
        background-color: white;
    }

    .hbgmt_card_ctn_in {
        width: 100%;
        height: 100%;
    }

    .hbgmt_card_img {
        display: block;
        width: 100%;    
        border-radius: 15px 15px 0 0;
    }

    .hbgmt_desc_ctn {
        height: 80px;
    }

    #afficher_plus {
        margin: 5px auto 30px auto;
    }


    /* Hébergements populaires */
    #pop_title {
        height: 15%;
    }
    #pop_cards {
        height: 80%;
        justify-content: space-between;
    }

    .pop_card_ctn_out {
        width: 85%;
        height: 120px;
        border-radius: 15px;
    }

    .pop_card_ctn_in {
        width: 100%;
        height: 100%;
    }

    .pop_card_img {
        min-width: 40%;
        max-width: 40%;
        height: 120px;
        border-radius: 11px 0 0 11px;
    }

    .pop_desc_ctn {
        width: 60%;
        height: 120px;
        margin: 0;
    }

    .pop_desc_ctn h3, .pop_desc_ctn p, .stars {
        margin-left: 15px;
    }

    /* Activités grid */
    .actv1 {
        grid-area: actv1;
        grid-row-start: 1;
    }

    .actv2 {
        grid-area: actv2;
    }

    .actv3 {
        grid-area: actv3;
    }

    .actv4 {
        grid-area: actv4;
    }

    .actv5 {
        grid-area: actv5;
    }

    .actv6 {
        grid-area: actv6;
    }

    #actv {
        width: 90%;
    }
    #actv_cards {
        height: 70%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: "acvt1 actv2 actv4 actv5"
                             "actv1 actv2 actv4 actv5"
                             "actv1 actv2 actv4 actv5"
                             "actv1 actv2 actv4 actv6"
                             "actv1 actv3 actv4 actv6"
                             "actv1 actv3 actv4 actv6";
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .actv_card_ctn_out {
        width: 100%;
        height: 100%;
        min-height: initial;
        border-radius: 0;
        margin: 0;
        border-radius: 15px;
    }

    .actv_card_ctn_in {
        width: 100%;
        height: 100%;
        min-height: initial;
        margin: 0;
    }

    .actv_img_ctn {
        width: 100%;
        height: 100%;
    }

    .actv_img_ctn figure {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .actv_img_xl {
        max-height: 88%;
    }

    .actv_img_l {
        max-height: 81%;
    }

    .actv_img_s {
        max-height: 60%;
    }

    .actv_img_m {
        max-height: 75%;
    }

    .actv_img_ctn figcaption {
        margin: auto;
        margin-left: 20px;
    }

    .actv_card_img {
        width: 100%;
        height: 100%;
        min-height: initial;
        margin: 0;
        border-radius: 15px 15px 0 0;
    }

    /* Footer */
    footer {
        width: 100%;
        height: 250px;
    }

    footer nav {
        width: 70%;
        margin-left: 65px;
        display: flex;
        justify-content: space-between;
    }

    .footer_link_ctn {
        height: 170px;
    }

}

